Minh/.metadata/.ide.log
Minh/.metadata/.lock
Minh/.metadata/.log
Minh/.metadata/.plugins/org.eclipse.cdt.core/.log
Minh/.metadata/.plugins/org.eclipse.cdt.core/LAB3.1702223450402.pdom
Minh/.metadata/.plugins/org.eclipse.cdt.core/Project_HK231.1702220012332.pdom
